{% extends 'base.html' %}

    {% block head %}
    <title>Cracking Enigma</title>
    {% endblock %}


    {% block main %}
    <div class="container">
        <div class="card">
            <h2>Bezpieczne i Prywatne Przechowywanie Twoich Danych</h2>
            <div class="col">
                <div class="row">
                <p class="optionName">Wybierz alogorytm szyfrujący</p> <select id="select" name="select" class="btn">
                    <option value="1">Szyfr cezara</option>
                    <option value="2">Szyfr cezara2</option>
                    <option value="2">Szyfr cezara3</option>
                </select>
                </div>

                <div class="row">
                    <p class="optionName">Wybierz plik</p> <input type="file" id="file" name="file" class="esz">
                 </div>

                <div class="row">
                    <p class="optionName">Podaj klucz szyfrujący</p> <input type="text" id="key" name="key" class="esz">
                 </div>

                <div class="row">
                    <button id="decrypt" class="btn">Odrszyfruj</button>
                    <button id="bruteforce" class="btn">Użyj brutalnej siły</button>
                 </div>
            </div>
        </div>
        <p>A moze chcesz zaszyfrować?</p>
        <a href="/">zaszyfruj</a>
    </div>

    {% endblock %}
