{% extends 'base.html' %}

{% block head %}
    <title>Cracking Enigma</title>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-3">Bezpieczne i Prywatne Przechowywanie Twoich Danych</h5>

                <div class="row g-3">
                    <form action="/encrypt" method="POST" enctype="multipart/form-data">
                        <div class="col-auto mb-3">
                            <div class="mb-3">
                                <label class="optionName">Wybierz alogorytm szyfrujący</label>
                                <select id="select" name="select" class="form-select">
                                    <option value="Szyfr cezara">Szyfr cezara</option>
                                    <option value="DES3">DES3</option>
                                    <option value="AES">AES</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="file" class="form-label">Wybierz plik</label>
                                <input class="form-control" type="file" id="file" name="file" onchange="checkFile()" >
                            </div>

                            <button type="submit" id="submit" value="Zaszyfruj" class="btn"
                                    style="background: #69277C; color: white" disabled>Zaszyfruj
                            </button>

                        </div>
                    </form>

                    <script>
                        function checkFile() {
                            var submitButton = document.getElementById('submit');
                            var fileInput = document.getElementById('file');
                            if (fileInput.value != '') {
                                submitButton.disabled = false;
                            } else {
                                submitButton.disabled = true;
                            }
                        }
                    </script>

                </div>
            </div>

        </div>

    </div>

{% endblock %}