{% extends 'base.html' %}

{% block head %}
<title>Cracking Enigma</title>
{% endblock %}

{% block main %}
<div class="container">
    <div class="card">
        <h2>Bezpieczne i Prywatne Przechowywanie Twoich Danych</h2>
        <form action="/encrypt" method="POST" enctype="multipart/form-data">
            <div class="col">
                <div class="row">
                    <p class="optionName">Wybierz alogorytm szyfrujący</p>
                    <select id="select" name="select" class="btn">
                         <option value="Szyfr cezara">Szyfr cezara</option>
                        <option value="DES3">DES3</option>
                        <option value="AES">AES</option>
                    </select>
                </div>

                <div class="row">
                    <p class="optionName">Wybierz plik</p>
                    <input type="file" id="file" name="file" class="esz">
                </div>

                <input type="submit" id="submit" class="btn" value="Zaszyfruj">
            </div>
        </form>
        <p>A moze chcesz odszyfrowac?</p>
    <a href="/decrypt">odszyfruj</a>
    </div>

</div>

{% endblock %}